.site {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
}

/* -- Contenido en main --  */

.site main {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrado vertical */
  align-items: center; /* Centrado horizontal */
}

.contenedor-principal > table.table {
    margin-left: auto;
    margin-right: auto;
  }
  
  .contenedor-principal .table {
    margin-left: auto;
    margin-right: auto;
  }

table {

  margin-top: 20px;
  margin-bottom: 20px;

  }
  .contenedor-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contenedor-botones {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contenedor-botones button{
    margin: 20px !important;
  }
  
  #grafica-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  
  #grafica-container canvas {
    width: 100% !important;
    height: auto !important;
  }
  
  .box {
    width: 100%;
  }
